* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "menu main sidebar"
    "footer footer footer";
  grid-template-columns: 12rem 1fr 12rem;
  grid-template-rows: auto 1fr auto;
  grid-gap: 8px;
  height: 100vh;
}


/* === Media Queries === */

@media screen and (max-width: 770px) {
  .container {
    grid-template-areas:
      "header"
      "menu"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px 1fr 50px auto;
  }
}

/* === Grid Area Properties === */

.header, .menu, .main, .sidebar, .footer {
  padding: 15px;
}

.header, .footer {
  font-size: 2rem;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: greenyellow;
  color: black;
}

.menu {
  grid-area: menu;
  background-color: gray;
  color: white;
}

.main {
  grid-area: main;
  background-color: lightblue;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: gray;
  color: white;
}

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
}
